$color_1: rgb(7, 201, 36);
// ##0080FF
$color_2: white;
$font-family_1: benard;
$font-family_2: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$background-color_1: #fff;
$background-color_2: gray;
$background-color_3: rgb(35, 35, 35);

@font-face {
    font-family: benard;
    src: url(../../font/RussoOne-Regular.ttf);
}
@font-face {
    font-family: lalala;
    src: url(../../font/lalala.ttf);
}

* {
    margin: 0;
}

html {
    background-color: black;
    overflow-x: hidden;
    
}
body{
    background-color: BLACK;
}
.sideOptions {
    position: relative;
    cursor: pointer;
}

.option1 {
    transform: perspective(25vw) rotateX(30deg) rotateY(53deg);
    width: 600px;
    margin-top: 12vw;
    font-size: 7vw;
    margin-left: 10vw;
    font-family: $font-family_1;
    color: $color_1;
    transition: .2s;
    text-shadow: 0px 0px 5px $color_1;
    &:hover {
        transform: perspective(25vw) rotateX(30deg) rotateY(50deg);
        transition: .5s;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: white;
        text-shadow: 0px 0px 20px $color_1;
    }
}

.option2 {
    transform: perspective(25vw) rotateX(12deg) rotateY(53deg);
    width: 600px;
    font-size: 7vw;
    font-family: $font-family_1;
    margin-top: -3vw;
    margin-left: 8vw;
    color: $color_1;
    transition: .2s;
    text-shadow: 0px 0px 5px $color_1;
    &:hover {
        transform: perspective(25vw) rotateX(12deg) rotateY(50deg);
        transition: .2s;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: white;
        text-shadow: 0px 0px 20px $color_1;
    }
}

.option3 {
    transform: perspective(25vw) rotateX(-12deg) rotateY(53deg);
    width: 600px;
    font-size: 7vw;
    margin-top: -2vw;
    margin-left: 7.5vw;
    font-family: $font-family_1;
    color: $color_1;
    transition: .2s;
    text-shadow: 0px 0px 5px $color_1;
    &:hover {
        transform: perspective(25vw) rotateX(-12deg) rotateY(50deg);
        transition: .2s;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: white;
        text-shadow: 0px 0px 20px $color_1;
    }
}

.option4 {
    transform: perspective(25vw) rotateX(-31deg) rotateY(53deg);
    width: 600px;
    font-size: 7vw;
    margin-top: -3vw;
    font-family: $font-family_1;
    margin-left: 9vw;
    color: $color_1;
    transition: .2s;
    text-shadow: 0px 0px 5px $color_1;
    &:hover {
        transform: perspective(25vw) rotateX(-32deg) rotateY(50deg);
        transition: .2s;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: #fff;
        text-shadow: 0px 0px 20px $color_1;
    }
}

.pp {
    position: absolute;
    margin: 0vw 0vw 0vw 50vw;
    width: 28vw;
    background-image: url(../../IMG_4300.jpeg);
    background-position: center;
    background-size: cover;
    height: 28vw;
    background-color: $background-color_2;
    border: .6vw solid $color_1;
    box-shadow: 0px 0px 20px $color_1;
    border-radius: 100em;
    color: $color_2;
    text-align: center;
}

.name {
    color: $color_1;
    font-size: 2vw;
    font-family: benard;
    font-weight: 100;
    text-shadow: 0px 0px 0px $color_1;
    text-align: center;
    margin: 29vw 0vw 0vw 0vw;
}
#abt-start {
    background-color: black;
    height: 30vw;
    width: 50vw;
    margin-top: 27vw;
    margin-left: 20vw;
    text-align: center;
    background-clip: padding-box;
    opacity: 0;
    background: linear-gradient(black, black) padding-box,
            linear-gradient(to right, rgb(0, 255, 38), rgb(0, 235, 172)) border-box;
        border-radius: 5em;
        border: 6px solid transparent;
        transition: 1s;
                    transform: perspective(70vw) rotateX(0) rotateY(20deg);
        &:hover{
            transform: perspective(70vw) rotateX(0) rotateY(0deg);
            transition: 1s;
        }
}
#abt-overlap{
    background: linear-gradient(black, black) padding-box,
            linear-gradient(to right, rgb(0, 255, 38), rgb(0, 235, 172)) border-box;
        border-radius: 5em;
        border: 6px solid transparent;
    width: 20vw;
    height: 20vw;
    display: flex;
    position: absolute;
    margin-top: -37vw;
    margin-left: 60vw;
    opacity: 0;
    background-position: center;
    background-size: cover;
    transition: 1s;
            transform: perspective(70vw) rotateX(0) rotateY(-20deg);
    &:hover {
        transform: perspective(70vw) rotateX(0) rotateY(0deg);
            transition: 1s;
        }
}

.abtOne{
    background-color: #0080FF;
    width: 50vw;
    margin-right: 5vw;
    margin-top: 5vw;
    text-align: center;
    display: inline-block;
    max-width: 250px;

}
.abtTwo{
    background-color: #fff;
    width: 25vw;
    height: 25 vw;
    margin-left: 5vw;
    margin-top: 5vw;
    text-align: center;
    display: inline-block;
}
.mainPage{
    background-color: black;
    height: 15vw;
}
.abt-title {
    font-size: 2vw;
    color: #fff;
    float: left;
    margin-left: 2vw;
    margin-top: 2vw;
    font-family: lalala;
    span{
        color: $color_1;
    }
}