@font-face {
    font-family: benard;
    src: url(./font/RussoOne-Regular.ttf);
}

* {
    margin: 0;
}

html {
    background-color: #fff;
}

.nav {
    position: relative;
}

.box1 {
    transform: perspective(25vw) rotateX(30deg) rotateY(53deg);
    width: 600px;
    margin-top: 9vw;
    font-size: 4vw;
    margin-left: 10vw;
    font-family: benard;
    /* background-color: blue; */
    color: #FF6800;
    transition: .2s;
}

.box1:hover {
    transform: perspective(25vw) rotateX(30deg) rotateY(50deg);
    transition: .5s;
    -webkit-text-stroke-width: .5px;
        -webkit-text-stroke-color: white;
        text-shadow: 0px 0px 20px #FF6800;
}

.box2 {
    transform: perspective(25vw) rotateX(12deg) rotateY(53deg);
    width: 600px;
    font-size: 4vw;
    font-family: benard;
    margin-top: -3vw;
    margin-left: 8vw;
    /* background-color: blueviolet; */
    color: #FF6800;
    transition: .2s;
}

.box2:hover {
    transform: perspective(25vw) rotateX(12deg) rotateY(50deg);
    transition: .2s;
        -webkit-text-stroke-width: .5px;
            -webkit-text-stroke-color: white;
            text-shadow: 0px 0px 20px #FF6800;
}

.box3 {
    transform: perspective(25vw) rotateX(-12deg) rotateY(53deg);
    width: 600px;
    font-size: 4vw;
    margin-top: -2vw;
    margin-left: 7.5vw;
    font-family: benard;
    /* background-color: red; */
    color: #FF6800;
    transition: .2s;
}

.box3:hover {
    transform: perspective(25vw) rotateX(-12deg) rotateY(50deg);
    transition: .2s;
        -webkit-text-stroke-width: .5px;
            -webkit-text-stroke-color: white;
            text-shadow: 0px 0px 20px #FF6800;
}

.box4 {
    transform: perspective(25vw) rotateX(-31deg) rotateY(53deg);
    width: 600px;
    font-size: 4vw;
    margin-top: -3vw;
    font-family: benard;
    margin-left: 9vw;
    /* background-color: green; */
    color: #FF6800;
    transition: .2s;
}

.box4:hover {
    transform: perspective(25vw) rotateX(-32deg) rotateY(50deg);
    transition: .2s;
        -webkit-text-stroke-width: .5px;
            -webkit-text-stroke-color: #fff;
            text-shadow: 0px 0px 20px #FF6800;
}

.pp {
    position: absolute;
    margin-left: 52vw;
    width: 28vw;
    margin-top: -50vw;
    margin-bottom: 40vw;
    background-image: url(./IMG_4300.jpeg);
    background-position: center;
    background-size: cover;
    height: 28vw;
    background-color: gray;
    border: .5vw solid #FF6800;
    box-shadow: 0px 0px 20px #FF6800;
    border-radius: 100em;
    color: white;
    text-align: center;
}
.pp:hover{

}
.name {
    color: #FF6800;
    font-size: 2vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-shadow: 0px 0px 10px #FF6800;
    text-align: center;
    margin-left: 9vw;
    margin-top: 29vw;
}
.abt-start{
    background-color: rgb(26, 26, 26);
    height: 50vw;
    width: 100vw;
    margin-top: 20vw;
    display: none;
}